<div class="p-d-flex p-jc-between p-mb-2">
    <div class="p-d-flex p-ai-center">
        <p-button
            [styleClass]="isliked ? 'p-mr-2 p-button-text p-button-danger' : 'p-mr-2 p-button-text p-button-secondary'"
            icon="pi pi-heart"
            label="J'aime"
            [badge]="likes.length ? likes.length + '' : ''"
            [badgeClass]="isliked ? 'p-badge-danger' : 'p-badge-secondary'"
            (click)="like()"
        ></p-button>
        <button
            pButton
            pRipple
            class="p-button-secondary p-button-text"
            icon="pi pi-comment"
            label="Commenter"
            (click)="showCommentForm()"
        ></button>
    </div>

    <button pButton pRipple [class]="post.comments.length ? 'p-button-secondary p-button-text' : 'p-d-none'">
        {{ post.comments.length + (post.comments.length > 1 ? " commentaires" : " commentaire") }}
    </button>
</div>
