<form (ngSubmit)="createPost()">
    <p-card styleClass="p-shadow-2 p-mb-5">
        <div class="p-d-flex">
            <groupomania-avatar class="p-mr-3" size="large"></groupomania-avatar>

            <textarea
                pInputTextarea
                style="flex: 1;"
                [autoResize]="true"
                placeholder="Quoi de neuf ?"
                [formControl]="postContent"
            ></textarea>
        </div>

        <ng-template pTemplate="footer">
            <div class="p-d-flex p-jc-end">
                <button pButton pRipple label="Publier" icon="pi pi-send" [disabled]="!postContent.valid"></button>
            </div>
        </ng-template>
    </p-card>
</form>
