.comment {
    border-radius: 10px;
    background: var(--surface-50);

    @media (min-width: 575px) {
        &:hover .comment__actions {
            display: block;
        }

        &__actions {
            display: none;
        }
    }
}
