<p-toast></p-toast>

<p-confirmDialog
    styleClass="p-m-3"
    header="Suppression du compte"
    acceptLabel="Confirmer la suppression"
    rejectLabel="Annuler la suppression"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-card styleClass="p-shadow-2">
    <ng-template pTemplate="header">
        <div class="p-pt-3 p-d-flex p-flex-column p-ai-center">
            <groupomania-avatar *ngIf="!avatarUploaded" class="p-mb-1" size="xlarge"></groupomania-avatar>

            <p-progressSpinner *ngIf="avatarUploaded"></p-progressSpinner>

            <p-fileUpload
                styleClass="p-button-text p-button-secondary"
                mode="basic"
                chooseIcon="pi pi-image"
                chooseLabel="Modifier la photo"
                accept="image/*"
                [maxFileSize]="1000000"
                invalidFileSizeMessageSummary="Limite dépassée"
                invalidFileSizeMessageDetail="La taille de l'image ne doit pas dépasser 1MB"
                [auto]="true"
                name="avatar"
                url="./api/users/avatar"
                (onUpload)="reloadPage()"
            ></p-fileUpload>
        </div>
    </ng-template>

    <form class="p-fluid p-d-flex p-flex-column" [formGroup]="profilForm">
        <input class="p-field" type="text" pInputText formControlName="firstname" placeholder="Prénom" />
        <input class="p-field" type="text" pInputText formControlName="lastname" placeholder="Nom" />
        <input type="text" pInputText placeholder="Email" [disabled]="true" [value]="user.email" />
    </form>

    <ng-template pTemplate="footer">
        <div class="p-d-flex p-flex-column p-flex-sm-row">
            <button
                pButton
                pRipple
                class="p-mb-3 p-mr-sm-3 p-mb-sm-0"
                label="Enregistrer"
                (click)="updateUser()"
            ></button>
            <button
                pButton
                pRipple
                class="p-button-danger p-button-outlined"
                label="Supprimer le compte"
                icon="pi pi-trash"
                (click)="deleteUser()"
            ></button>
        </div>
    </ng-template>
</p-card>
