<p-card styleClass="p-shadow-2">
    <ng-template pTemplate="header">
        <div class="p-pt-3 p-d-flex p-flex-column p-ai-center">
            <p-avatar class="p-mr-3" image="assets/users/user-default.png" size="xlarge" shape="circle"></p-avatar>
            <p-fileUpload
                #fileUpload
                styleClass="p-mr-3 p-button-text p-button-secondary"
                mode="basic"
                chooseIcon="pi pi-image"
                chooseLabel="Modifier la photo"
                accept="image/*"
                [auto]="true"
                [customUpload]="true"
            ></p-fileUpload>
        </div>
    </ng-template>

    <div class="p-fluid p-d-flex p-flex-column">
        <input class="p-field" type="text" pInputText formControlName="firstname" placeholder="Prénom" />
        <input class="p-field" type="text" pInputText formControlName="lastname" placeholder="Nom" />
        <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Email"
            [disabled]="true"
            value="lcs.grc@outlook.com"
        />
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple class="p-mr-3" label="Enregistrer"></button>
        <button
            pButton
            pRipple
            class="p-button-danger p-button-outlined"
            label="Supprimer le compte"
            icon="pi pi-trash"
        ></button>
    </ng-template>
</p-card>
