<p-card styleClass="p-shadow-2 p-m-3" header="Inscription">
    <form class="p-fluid" [formGroup]="form" (ngSubmit)="signup()">
        <div class="p-float-label p-mb-4">
            <input type="text" pInputText formControlName="firstname" />
            <label>Prénom</label>
        </div>
        <div class="p-float-label p-mb-4">
            <input type="text" pInputText formControlName="lastname" />
            <label>Nom</label>
        </div>
        <div class="p-float-label p-mb-4">
            <input type="text" pInputText formControlName="email" />
            <label>Adresse Email</label>
        </div>
        <div class="p-float-label p-mb-4">
            <p-password
                [toggleMask]="true"
                promptLabel="Entrez un mot de passe"
                weakLabel="Faible"
                mediumLabel="Moyen"
                strongLabel="Fort"
                formControlName="password"
            >
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Votre mot de passe doit contenir :</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5;">
                        <li>Au moins une minuscule</li>
                        <li>Au moins une majuscule</li>
                        <li>Au moins un nombre</li>
                        <li>8 caractères minimum</li>
                    </ul>
                </ng-template>
            </p-password>
            <label>Mot de passe</label>
        </div>
        <div>
            <button pButton pRipple label="M'inscrire" [disabled]="!form.valid"></button>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <p-divider styleClass="p-mt-0"></p-divider>
        <p>
            Vous avez déjà un compte ?
            <a class="p-text-bold" routerLink="/auth/signin">Se connecter</a>
        </p>
    </ng-template>
</p-card>
